<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Register</h2>
  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="consumer" formControlName="role">Consumer
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="serviceProvider" formControlName="role">Service Provider
    </label>
  </div>

  <div class="form-group">
    <input type="text"
    [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
     class="form-control"
      formControlName="username"
       placeholder="Username">
    <div class="invalid-feeedback"></div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('lastname').errors && registerForm.get('lastname').touched}" class="form-control"
      placeholder="Name & Surname" formControlName="lastname">
    <div class="invalid-feedback" *ngIf="registerForm.get('lastname').touched && registerForm.get('lastname').hasError('required')">Required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control"
      placeholder="Date of Birth" formControlName="dateOfBirth" type="date" >
    <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}" class="form-control"
      placeholder="City" formControlName="city">
    <div class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">City is required</div>
  </div>



  <div class="form-group">
    <input type="password"
    [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
     class="form-control" formControlName="password"  placeholder="Password">
     <div class="invalid-feeedback"></div>
  </div>

  <div class="form-group">
    <div>
    <label class="control-label" style="margin-right:10px">Only for Service Providers</label></div>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="plumbing" formControlName="firstname">Plumbing
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="gardening" formControlName="firstname">Gardening
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="installations" formControlName="firstname">Installations
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="houseKeeping" formControlName="firstname">House Keeping
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="carServices" formControlName="firstname">Car Services
    </label>
  </div>





  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>



